/target/
!.mvn/wrapper/maven-wrapper.jar
/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.scannerwork/
/sonar-project.properties
/.jpb/
/src/main/resources/static/app/
/src/main/javascript/node/

### VS Code ###
.vscode/
terracotta.code-workspace

### Bob local ###
application.properties
dev/
docker-compose.yml
terracotta_files

### Mac ###
.DS_Store
**/.DS_Store