// Colors
$gray-lightest: #F6F6F6;
$gray: #E2E2E2;
$green: (
    'base': #008568
);
$blue: (
    'base': #0077D2
);

// Expansion Panels
$expansion-panel-header-font-size: 16px;
$expansion-panel-border-radius: 10px;
$expansion-panel-content-padding: 30px;

@import '~vuetify/src/styles/styles.sass';
