<!DOCTYPE html>
<!--suppress CheckEmptyScriptTag -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
    <title>LTI 3 DYNAMIC REGISTRATION ERROR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Error during the dynamic registration.</h1>
<p><span th:text="${Error}"/></p>
</body>
</html>
